<?xml version="1.0" encoding="UTF-8"?>
<web-app>
<!-- 	<servlet> -->
<!-- 		<servlet-name>servlet</servlet-name> -->
<!-- 		<servlet-class>com.atos.servlet.MyServlet</servlet-class> -->
<!-- 	</servlet> -->

<!-- 	<servlet-mapping> -->
<!-- 		<servlet-name>servlet</servlet-name> -->
<!-- 		<url-pattern>/goodmorning</url-pattern> -->
<!-- 	</servlet-mapping> -->
</web-app>